html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#cont {
  font-family: arial;
  text-align: center;
  font-size: 3vw;
}
.center {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
